<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h5>Contact us from: <%= @email %> </h5>
        <h5>Contact us message: <%= @message %> </h5>
    </body>
</html>
