<div>
    <h1>contact</h1>
    <p>Morbi tristique senectus et netus. Porta nibh venenatis cras sed felis eget velit aliquet. Est sit amet facilisis magna etiam tempor orci eu. Velit laoreet id donec ultrices tincidunt arcu non. Tincidunt augue interdum velit euismod in pellentesque massa placerat. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Tempus egestas sed sed risus pretium. Tellus in hac habitasse platea dictumst vestibulum. Ullamcorper a lacus vestibulum sed arcu non odio. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi.</p>

    <div class=" col-6 mx-auto">
        <%= render partial: 'contact/form' %>
    </div>
    
</div>